<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@unocss/reset/tailwind.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
</head>
<body class="bg-teal-100">
    <main class=" mx-auto flex items-center pt-56 min-h-screen gap-4 flex-col  w-10/12 max-w-[600px]">
      <form hx-post="/createTask" hx-swap="beforeend" hx-target="#taskList" hx-trigger="submit" class="bg-white rounded-lg shadow-lg flex flex-col items-center gap-4 p-8 w-full">
           <h1 class="text-2xl font-semibold">Todo list</h1>  
           <p>Insert a item on the list</p>
           <div class="flex gap-2 w-full">
               <input type="text" name="name" class="p-2 bg-slate-100 shadow w-full rounded-lg" />
               <button class="px-8 rounded-lg hover:bg-teal-500 transition-colors bg-teal-300">Add</button>
           </div>
       </form>
       <ul id="taskList" class="flex flex-col gap-2 items-center w-full">
            {{range . }}
                {{ template "task.html" .}}
            {{end}}
       </ul>
    </main>
</body>
</html>